<%= form_for :usuario do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%if request.original_url.include?("new") %>
  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :Rol %>
    <%= form.select :role, options_for_select(["consulta","asistencia","administracion"], :selected=> usuario.role )%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
